<div class="max-w-6xl mx-auto px-6 py-8 relative z-10">
    <div class="flex items-start">
        <article class="pr-24 flex-1 py-8">
            <h1 class="mb-6">{{ title }}</h1>
            <div class="mt-8 content pt-8 border-t">

                {{ bard_field }}
        </article>
        <div class="w-[300px] relative group">
                <img src="{{ glide:podcast:cover_art square="600" }}" alt="{{ podcast:title }} Cover Art" width="300" class="shadow-2xl">
        </div>
    </div>
</div>
